*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(45deg,yellow,blue);
}
.content{
    padding: 1.5vh;
    height: 90vh;
    width: 90vh;
    border: 2px solid black;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.items{
    font-size: 4rem;
    width: 32%;
    height: 32%;
    border: 2px solid black;
    color: aliceblue;
    border-radius: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .winnerblock{
    height: 50vh;
    width: 20vw;
    color: beige;
    /* border: 2px solid red; */
    margin: 20px 0px;
}
.btn button{
    border-radius: 20px;
    font-size: 1rem;
    height: 100px;
    width: 100px;
}